@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* 
    AppBar
*/

.app-bar {
    padding: 8px 16px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid #e2e8f0;
}

.app-bar .app-bar__menu {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

.app-bar .app-bar__brand {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__brand .logo img {
    height: 54px;
}

.app-bar .app-bar__navigation {
    position: absolute;
    text-align: center;
    top: 75px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: white;
    overflow: hidden;
}

.app-bar .app-bar__navigation.open {
    left: 0;
}

.app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px 0;
    margin-bottom: 5px;
    width: 100%;
    font-size: 1.075rem;
    font-weight: 600;
}

/* 
    Skip Link   
*/

.skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    background-color: #79ce57;
    color: #101010;
    border: 0;
    padding: 8px;
    font-size: 16px;
    z-index: 1050;
    text-decoration: none;
}

.skip-link:focus {
    top: 10px;
}

/* 
    Hero
*/

.main-hero {
    display: flex;
    align-items: center;
    min-height: 350px;
    text-align: center;
    background-image: url("../public/images/hero-image.jpg");
    background-position: center;
}

.hero-content {
    margin: 0 auto;
}

.hero-title {
    color: #fff;
    font-weight: 800;
    font-size: 36px;
}

.hero-desc {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
}

.main {
    width: 100%;
    margin: 0 auto;
}

.main-header {
    padding: 32px;
}

.main-header h1 {
    color: #313131;
    font-size: 24px;
    font-weight: 600;
}

.main-header p {
    color: #747474;
    font-size: 14px;
    margin-top: 0.5rem;
}

/* 
    Main-card 
*/

.main-content {
    margin: 0 32px;
    display: grid;
    grid-row-gap: 16px;
    text-align: left;
}

.card {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.rate {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #fff;
    width: 40px;
    padding: 10px;
    color: #535353;
    font-size: 13px;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    display: flex;
}

.fa-star {
    color: #ffd000;
    margin-right: 4px;
}

.card-image {
    width: 100%;
    max-height: 200px;
}

.card-content {
    padding: 1.75rem;
}

.card-title a {
    line-height: 44px;
    min-height: 44px;
    font-size: 24px;
    font-weight: 600;
    color: #1D1C1C;
}

.card-title a:hover {
    opacity: 0.5;
}

.card-subtitle a {
    display: inline-block;
    color: #9c9b9b;
    font-size: 15px;
    font-weight: 500;
    min-height: 44px;
    line-height: 44px;
}

.fa-map-marker-alt {
    color: #9c9b9b;
    font-size: 14px;
    margin-right: 8px;
}

.card-desc {
    font-size: 14px;
    line-height: 1.5em;
    color: #555555;
}

/* 
    Footer
*/

footer {
    text-align: center;
    color: #525252;
    font-size: 14px;
    padding: 2rem;
}